body{
    background-color: #c1c1c1;
}


#carouselExampleControlsNoTouching{
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
}

.carousel-inner{
    height: 600px;
}


.carousel-inner img{
    width: 290px;
     height: 180px;
    border-radius: 30PX;
    margin-right: 25px;
}

span{
    margin-top: -650px;
    height: 30px;
    width: 30px;
}

.carousel-control-prev{
    margin-left: 850px;
    

}


 


 .carousel-img1{
    margin-top: -228px;
    margin-left: 310px;
} 

.carousel-img2{
    margin-top: -229px;
    margin-left: 620px;
   
  
} 

  .sec-icon{
    height: 25px;
    width: 45px;
    background-color: #2986fe;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    margin-left: 230px;
    margin-top: -50px;
   
    
    } 
    
    .sec-icon i, small{
    margin-top: 9px;
    color: #ffffff;
    font-size: 8px;
    }
    .text1{
    margin-left: 20px; 
    margin-top: 10px;
    font-size: 18px;
    } 



.text{
    font-size: 12px;
    margin-left: 20px;
}



















/* .............................. */


#bdy1 #img1{
    position: relative;
    top: -70px;
    width: 100px;
    height: 100px;
    margin-left: 600px;
    }
    .icon1{
    background-color: #f9f9fb;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 800px;
    
    }
    
    .icon1 i{
    margin-top: 15px;
    }
    
    .icon2{
    background-color: #101010;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-top: -37px;
    margin-left: 860px;
    
    }
    
    .icon2 i{
    margin-top: 15px;
    color: white;
    }
    
    
    #img-section{
    margin-top: 35px;  
    }
    
    
    
    /* image section 1 */
    
    #sec1 img{
    border-radius: 35px;  
    width: 290px;
    height: 180px;
    }
    
    .sec-icon{
    height: 25px;
    width: 45px;
    background-color: #2986fe;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    margin-top: -65px;
    margin-left: 230px;
    
    }
    
    .sec-icon i, small{
    margin-top: 9px;
    color: #ffffff;
    font-size: 8px;
    }
    #sec1 h4{
    margin-left: 20px; 
    margin-top: 10px;
    font-size: 18px;
    }
    
    #sec1 p{
    margin-left: 20px;
    margin-top: 10px;
    color: #c1c1c1
    
    }
    
    
    
    
    /* sec 2 */
    #sec2{
    margin-left: 315px;
    margin-top: -225px;
    
    }
    
    #sec2 img{
    border-radius: 35px;  
    width: 290px;
    height: 180px;
    
    }
    
    #sec2 h4{
    margin-left: 20px; 
    margin-top: 10px;
    font-size: 18px;
    } 
    .sec-icon i, small{
    margin-top: 9px;
    color: #ffffff;
    font-size: 8px;
    }
    
    #sec2 p{
    margin-left: 25px;
    margin-top: 10px;
    color: #c1c1c1
    }
    
    
    
    
    /* sec 3 */
    
    #sec3{
    margin-left: 630px;
    margin-top: -225px;
    }
    
    #sec3 img{
    border-radius: 35px;  
    width: 290px;
    height: 180px;
    
    }
    
    
    #sec3 h4{
    margin-left: 20px; 
    margin-top: 10px;
    font-size: 18px;
    } 
    .sec-icon i, small{
    margin-top: 9px;
    color: #ffffff;
    font-size: 8px;
    }
    
    #sec3 p{
    margin-left: 25px;
    margin-top: 10px;
    color: #c1c1c1
    
    }
    









































